/* === === === */
/* Fabriga Font */
/* === === === */

@import "//io.vtex.com.br/fonts/fabriga/stylesheet.css";

.home-container {
  font-family: "Fabriga", "Helvetica", sans-serif;
}

/* === === === */
/* Generic Styles */
/* === === === */

:root {
  font-size: 16px;
}

.svg-sprite {
  display: none;
}

.tab-pane {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0 !important;
}

.vtex-rebelpink {
  color: #f71963;
}

.vtex-seriousblack {
  color: #142032;
}

.vtex-coldgray {
  color: #d6d8e0;
}

.vtex-youngblue {
  color: #00bbd4;
}

.vtex-elitepurple {
  color: #8914cc;
}

.link,
.link:hover {
  color: #8914cc;
}
